body {
    font-family:  'Times New Roman', Times, serif;
    margin: 20px;
    padding: 0;
    background-color: whitesmoke;
}
h1 {
    text-align: center;
    color:black;
}

form {
    max-width: 600px;
    margin:  auto;
    background-color: rgb(134, 39, 71); 
    border-radius:  8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    padding: 20px;
}
fieldset {
    border: 2px solid black;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: palevioletred;
}
legend {
    font-weight: bold;
    text-align: left;
    color:black;
} 

label {
    display: block;
    margin-top: 10px;
    color: black;

}
input,textarea{
    width:calc(100% - 1px);
    padding: 8px;
    margin-top: 4px;
    border: 1px solid rgb(134, 39, 71); ;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    display:block;
    width: 100%;
    padding: 10px;
    background-color: palevioletred;
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}
button:hover {
    background-color: rgb(126, 53, 77);
}
#resumeOutput{
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 2px solid whitesmoke;
    border-radius: 8px;
    background-color: rgb(134, 39, 71); ;    
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);

}

#resumeOutput h2 {
    color: black;
    
}
.profilepicture {
    display: block;
    margin: 0 auto;
    border: 2px solid whitesmoke;
    box-shadow:  0 4px 8px rgba(0, 0, 0, 0.5); ;
    border-radius: 500%;
    width: 150px;
    height: 150px;
    object-fit: cover;
}